html {
    font-size: 62.5%;
    box-sizing: border-box;/*****hack para arreglar box*****/
    height: 100%;
}
body {
    font-size: 16px; /***** 10px = 1rem****/
    font-family: "Figtree", sans-serif;
    background-color: #F4D04E;

    margin: 0;
    padding: 0;
    height: 100%; /***** asegura que el body ocupa el 100% de la altura *****/
    display: flex;
    justify-content: center;
    align-items: center;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.contenedor {
    width: 28rem;
    /*height: 17rem;*/
    margin: 0  2.5rem 2.5rem 2.5rem ;
}
@media (min-width: 768px){
    .contenedor {
        width: 34rem;
        /*height: 19rem;*/
    }
}

/*------------------Card ---------------------------*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 33rem;
    margin: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 50rem;*/
    background-color: white;
    border-radius: 2rem;
    -webkit-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
}
@media (min-width: 768px){
    .card {
        width: 38rem;
        /*height: 52rem;*/
        background-color: white;
        border-radius: 2rem;
        -webkit-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
    }
}
.card img {
    width: 28rem;
    height: 20rem;
    border-radius: 1rem;
    margin: 2.5rem;
}
@media (min-width: 768px){
    .card img {
        width: 34rem;
        height: 20rem;
        border-radius: 1rem;
        margin: 2rem;
    }
}

/*----------------------- Titulos ----------------------------------*/
.learning h3 {
    font-weight: 900;
    padding: 0.8rem;
    background-color: #F4D04E;
    display: inline;
    border-radius: 0.4rem;
}
.published {
    font-weight: 400;
    color: #111111;
    line-height: 150%;
}